body {
	background: linear-gradient(90deg, #e66465, #222a7a);
	color: var(--text-color);
	font-family: sans-serif, tahoma;
	margin: 0;
	user-select: none;
	-webkit-tap-highlight-color: transparent;

	--player-size: 160px;
	--text-color: #fff;
	--button-text-size: 0.9em;
	--button-height: 60px;
	--score-text-position: 40px;
	--menu-width: 20%;
	--menu-bg-color: rgba(0, 0, 0, .1);
}

*:focus {
    outline: 0 !important;
}

strong {
	font-size: calc(var(--button-text-size) + 0.3em);
}

@keyframes pop {
	to {
		margin-bottom: 70vh;
		opacity: 0;
	}
}

#container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.player {
	position: fixed;
	width: var(--player-size);
	height: var(--player-size);
	background: linear-gradient(90deg, #deac2c, #d4572a);
	margin: 0;
	cursor: pointer;
	box-shadow: 0 0 20px rgba(0,0,0,.3);
	border-radius: 50%;
	z-index: 50;
}

.player:active {
	width: calc(var(--player-size) - (var(--player-size) / 20));
	height: calc(var(--player-size) - (var(--player-size) / 20));
}

.score {
	position: fixed;
	bottom: var(--score-text-position);
	font-size: 30px;
	cursor: default;
	z-index: 2;
}

.popout {
	position: fixed;
	font-size: 25px;
	margin-bottom: 50vh;
	animation-name: pop;
	animation-duration: 1s;
	animation-timing-function: linear;
}

.menu {
	position: absolute;
	left: 0;
	width: var(--menu-width);
	height: 100vh;
	background-color: var(--menu-bg-color);
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 0;
}

.menu > div {
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
}

.menu div:first-child {
	height: var(--button-height);
	border-bottom: 1px solid rgba(255,255,255, 0.1);
	font-size: calc(var(--button-height) / 2.5);
	justify-content: center;
}

.menu button:hover, .upgrade:hover {
	background-color: rgba(255,255,255, 0.05);
}

.menu button {
	position: relative;
	width: 100%;
	height: var(--button-height);
	font-size: var(--button-text-size);
	font-weight: bold;
	background: none;
	border: none;
	color: var(--text-color);
	cursor: pointer;
	border-bottom: 1px solid rgba(255,255,255, 0.1);
	left: 0;
	z-index: 100;
}

.menu button:active {
	line-height: calc(var(--button-height) + 1px);
}

.buildingcounter {
	position: absolute;
	width: 20%;
	height: var(--button-height);
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
}

.speed {
	position: fixed;
	right: var(--score-text-position);
	bottom: var(--score-text-position);
}

.building {
	position: absolute;
	font-size: calc(var(--button-height) / 1.5);
	opacity: 0.1;
	font-style: italic;
	white-space: nowrap;
	left: 0;
	overflow-x: visible;
	z-index: 1;
}

.info {
	position: fixed;
	background: rgba(0, 0, 0, 0.1);
	padding: calc(var(--score-text-position) / 2);
	backdrop-filter: blur(5px);
	z-index: 150;
}

.info p {
	margin: 5px 0;
	font-size: 0.9em;
}

.info p:first-child {
	font-size: calc(var(--button-height) / 3);
	font-style: italic;
}

.info em {
	color: #deac2c;
}

.empty {
	height: var(--button-height);
	width: var(--menu-width);
}

.upgrades {
	display: grid;
	grid-template-columns: 33% 34% 33%;
	grid-template-rows: auto;
	max-height: 80vh;
	overflow-y: hidden;
}

.upgrademenu {
	width: calc(var(--button-height) * 3);
	position: absolute;
	top: 0;
	right: 0;
	border-left: 1px solid rgba(255, 255, 255, .1);
}

.upgrademenu > div:first-child {
	height: var(--button-height);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--menu-bg-color);
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	font-size: calc(var(--button-height) / 2.5);
}

.upgrade {
	height: var(--button-height);
	background-color: var(--menu-bg-color);
	font-stretch: condensed;
	font-style: italic;
	border-right: 1px solid rgba(255, 255, 255, .1);
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	display: flex;
	align-items: center;
	cursor: pointer;
	font-size: var(--button-text-size);
	text-align: center;
	z-index: 101;
}



@media (max-width: 1050px), (max-height: 420px) {
	.building {
		left: var(--menu-width);
	}

	.player {
		opacity: 0.8;
		width: calc(var(--player-size) * 0.8);
		height: calc(var(--player-size) * 0.8);
	}

	.player:active {
		width: calc(var(--player-size) * 0.8 - (var(--player-size) / 20 * 0.8));
		height: calc(var(--player-size) * 0.8 - (var(--player-size) / 20 * 0.8));
	}

	.buildingcounter {
		width: 100%;
		left: 0;
		font-size: calc(var(--button-height) / 1.5);
		opacity: 0.5;
		color: #deac2c;
		font-style: italic;
		overflow: hidden;
		white-space: nowrap;
		/*direction: rtl;*/
	}

	.info {
		padding: calc(var(--score-text-position) / 4);
	}

	.menu {
		width: 100%;
		background: none;
	}

	.menu button, .buildingcounter {
		width: var(--menu-width);
	}

	.menu > div:first-child, .upgrademenu > div:first-child {
		display: none;
	}

	.menu > div {
		justify-content: left;
	}

	.menu {
		background: linear-gradient(90deg, rgba(0,0,0,.1) 0%, rgba(0,0,0,.1) 20%, rgba(0,0,0,0) 20.1%);
	}

	.upgrades {
		grid-template-columns: 100%;
		max-height: 100vh;
	}

	.upgrademenu {
		width: var(--button-height);
	}
}

@media (max-width: 540px) {
	.score {
		bottom: 15%;
	}

	.speed {
		right: auto;
	}

	.info {
		left: var(--menu-width) !important;
		width: calc(100% - var(--menu-width) - var(--button-height) - 1px);
		padding: calc(var(--score-text-position) / 4);
		box-sizing: border-box;
	}
}

@media (max-height: 280px) {
	.score {
		right: var(--score-text-position);
		bottom: calc(var(--score-text-position) * 2);
	}

	.popout {
		right: var(--score-text-position);
	}
}
